//App global css in SCSS form
@font-face {
  font-family: Century Gothic;
  src: url(../assets/fonts/CenturyGothic.woff);
}

//Declare a class which applies it
.CenturyGothic {
  color: $secondary;
  font-family: "Century Gothic";
}

body {
  display: flex;
  background-color: $primary;
  position: relative;
  left: 10px;
  overflow-x: clip;
  height: 100%;
}
